:root {
    --gb-51: #111827;
    --gb-52: #2196f3;
    --gb-52d: #0e71c1;
}

/* Headings */
h4,
h5 {
    margin: 10px 0 0;
}

/* Cart Page */
.cart-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

/* Buttons */
button {
    display: block;
    font-size: 12px;
}

/* Table */
table {
    background: #EEE;
    color: #024;
}

/* Hidden Element */
.hidden {
    display: none;
}

/* Import Progress Bar */
.import-progress-bar {
    height: 6px;
    border-radius: 5px;
    padding: 2px;
    background: #CCC;
    margin-bottom: 10px;
}

.import-progress-bar .progress {
    transition: width .5s;
    background: #2A7;
    width: 0;
    height: 100%;
    border-radius: 5px;
}

/* Conditional Display */
body:not(.show-cart-page) .cart-page,
body.show-cart-page .other-page {
    display: none;
}

/* Import Progress */
.import-progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

/* Card Progress */
.card-progress {
    display: flex;
    gap: 10px;
    align-items: center;
    transition: .3s;
}

.card-progress :last-child {
    margin-left: auto;
}

.card-progress::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #AAA;
    transition: .3s;
}

.card-progress.adding::before {
    background: #FC3;
}

.card-progress.success::before {
    background: #396;
}

.card-progress.error::before {
    background: #C30;
}

.card-progress.adding {
    color: #FC3;
}

.card-progress.success {
    color: #396;
}

.card-progress.error {
    color: #AAA;
}

/* Text Wrap */
.import-progress,
.other-page {
    text-wrap: nowrap;
}

/* Buttons Styles */
.gm-btn {
    background: none;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    outline: none;
}

/* General Button Styles - Shared Pseudo-elements */
.gb-cutter::before,
.gb-shutter::before,
.gb-shutter::after,
.gb-bordered::before {
    content: "";
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}

/* Cutter Button Styles */
.gb-cutter {
    border: 2px solid var(--gb-51);
    border-radius: 5px;
    box-shadow: 3px 3px 0 var(--gb-51);
    font-size: 1.125rem;
    font-weight: 700;
    overflow: hidden;
    color: var(--gb-51);
}

.gb-cutter::before {
    top: 100%;
    left: 0;
    width: 150%;
    aspect-ratio: 1;
    background: var(--gb-51);
    transform: translate(50%, 0%) rotateZ(-45deg);
}

.gb-cutter:hover::before {
    transform: translate(-20%, -60%) rotateZ(-45deg);
}

.gb-cutter:hover {
    box-shadow: 0 0 0;
    color: #eee;
}

/* Shutter Button Styles */
.gb-shutter {
    border: 2px solid var(--gb-51);
    border-radius: 5px;
    box-shadow: 3px 3px 0 var(--gb-51);
    font-size: 1.125rem;
    font-weight: 700;
    overflow: hidden;
    color: var(--gb-51);
}

.gb-shutter::after,
.gb-shutter::before {
    top: 0;
    left: 0;
    width: 130%;
    aspect-ratio: 1;
    background: var(--gb-51);
}

.gb-shutter::after {
    transform: translate(-100%, -80%) rotate(30deg);
}

.gb-shutter::before {
    transform: translate(100%, 30%) rotate(30deg);
}

.gb-shutter:hover::after {
    transform: translate(-50%, -50%) rotate(30deg);
}

.gb-shutter:hover::before {
    transform: translate(30%, -10%) rotate(30deg);
}

.gb-shutter:hover {
    color: #eee;
    box-shadow: 0 0 0;
}
